.common{
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.header{
    height: 50px;
    background-color:rgb(243, 243, 243);
    color:black;
    line-height: 10px;
    font-weight: 1000px;
}

.mainbody{
    background-color: rgb(243, 243, 243);
    color:black;
}

.fontsize{
    font-size: small;
}

.footer{
    background-color:rgb(243, 243, 243);
    color:black;
    position: fixed;
    bottom: 0px;
    left:1px;
    right:1px;
    height: 30px;
    Padding-top: 5px;
    padding-bottom: 5px;
    font-size: 10px;
}

.img{
    display:block;
    margin-left:auto;
    margin-right:auto;
    width:30%;
}

.nav{
    padding: 10px;
    overflow: hidden;
}

.nav a{
    font-size:16px;
    font-weight:bold;
    text-decoration:none;
    padding:110px;
    color: rgb(0, 0, 0);
}

.nav a:hover{
    background-color: rgb(183, 183, 183);
    color:darkblue;
}

.centered-list{
    text-align: center;
    padding-left: 0;
    list-style-position: inside;
}

.link{
    text-decoration: underline;
}